Repository Sornik97/learning-git, pull requests merged in 2025-04, with the labels that each got.

#7 modified f1mihaela.md
  f1mihaela.md
Labels: documentation

#23 Sorin
  .github/workflows/labelerM.yml
  yamlfiles/testing.yml
Labels: workflow

#27 B1mihaela
  yamlfiles/testing.yml
Labels: workflow, release

#28 updated labeler config
  .github/labeler.yml
  yamlfiles/testing.yml
Labels: workflow, release

#34 added issues workflow
  .github/workflows/issues.yml
Labels: release

#39 Update README.md file
  README.md
Labels: documentation, release

#40 Add deploy simulation test
  .github/workflows/simpleworkflow.yml
Labels: release

#42 Add Python script runner with GitHub Actions
  .github/workflows/run-python-script.yml
  scripts/main.py
Labels: release
